.settings_link {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.1;
  font-size: big;
}
.settings_link:hover {
  opacity: 1;
  color: #fff;
}
.vertical_center {
  min-height: 80%;
  min-height: 80vh;
  display: flex;
  align-items: center;
}
