.familyContainer {
  background: #fff;
  color: #020202;
  font-size: large;
  margin: 10px;
  padding: 20px;
  height: 175px;
}

.familyContainer a {
  color: #020202;
}

.familyMembers {
  font-size: smaller;
  color: #777;
}

.familyActions {
  float: right;
}
